*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Roboto', sans-serif;
}
/* .container{
    width: 100%;
    min-height: 100vh;
    padding-left: 3%;
    padding-right: 8%;
    box-sizing: border-box;
    overflow: hidden;
  } */
  
.name{
    width: 600px;

}

.type{
    width: 200px;
}
.form-box{
  justify-content: center;

}

.box{
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content:center;
  align-items:center;
  /* background-color: #24252A; */
}
.search-field{
  height: 50px;
  border: none;
  outline: none;
  background: #e9ecef;
  
}

.search-btn{
  height: 50px;
  width: 100px;
  background: #e9ecef;
  border: none;
  color: #000;

}

.search-btn:hover{
  background: red;
  cursor: pointer;
}
/* NAV BAR */

nav{
  background: #0e0c0a;
  padding: 5px 20px;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  
}
li {
  list-style-type: none;
  
}

a{
  color: #edf0f1;
  text-decoration: none;
}
a:hover{
  color: rgb(139, 150, 150);

}

.menu li{
  font-size: 12px;
  padding: 15px 5px;
  
}

.menu li a{
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}

.logo {
  position:relative; 
  left:20px;
  padding-top: 5px;
  padding-right: 10px;
  width: 50px;
}

/* Mobile */
.menu {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items:center;*/
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items:center;
}
.toggle {
  order: 1;
}

.item.button {
  order: 2;
}

.item {
  width: 100%;
  text-align: center;
  order: 3;
  display: none;
}

.item.active {
  display: block;
}
.toggle{
  cursor: pointer;
}

.bar{
  background: #999;
  display: inline-block;
  height: 2px;
  position: relative; 
  width: 16px;
}

.bar::before,.bar::after{
  background: #999;
  content: "";
  display: inline-block;
  height: 2px;
  position: absolute; 
  width: 16px;
}

.bar::before{
  top: 5px;
}

.bar::after{
  top: -5px;
}

/* Tablet */

@media all and (min-width:468px){
  .menu{
      justify-content: center;
  }
  .logo{
      flex: 1;
  }
  .item.button{
      width:auto;
      order: 1;
      display: block;
  }
  .toggle{
      order: 2;
  }
  .button.secondary{
      border: 0;
  }
  .button a{
      padding: 7px 15px;
      background: linear-gradient(to right,#3d362c,#504f4f);
      border-radius:50em;
  }
  
  /* .button a:hover{
      transition: all 0.25s ease 0s;
      background: #006d6d;
      border-color: #005959;
  } */
}

@media all and (min-width: 768px){
  .item{
      display: block;
      width: auto;
  }
  .toggle {
      display: none;
  }
  .logo{
      order: 0;
  }
  .item{
      order: 1;
  }
  .button{
      order: 2;
  }
  .menu li{
      padding: 15px 10px;
  }
  .menu li.button{
      padding-right: 0;
  }
}



