* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.logo {
    width: 60px;
}

li,
a {
    text-decoration: none;
    color: #edf0f1;
    font-weight: bold;
    text-transform: uppercase;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #0e0c0a;
}

.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding: 0px 20px 0px 20px;
}

.text {
    display: inline-block;
    color: #edf0f1;
    position: relative;
}

.text:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.text:hover:after {
    visibility: visible;
    width: 100%;
}

.icon {
    list-style-type: none;
}

.icon li {
    display: inline-block;
    padding: 0px 0px 0px 20px;
}

h1 {
    color: #000000;
    padding-top: 40px;
    text-align: center;
}

.woocommerce {
    padding-top: 20px;
    color: #8c8b8b;
}

.MyAccount {
    padding-top: 60px;
    text-align: center;
}

.MyAccount ul li {
    list-style: none;
    display: inline-block;
    margin-inline: 30px;
}

.text2 {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
}

.text2:hover {
    color: #8c8b8b;
}

.line {
    height: 1px;
    background: #000000;
    max-width: 700px;
    margin: 2rem auto;
}