*{
  /* set font */
  font-family: sans-serif;
}
body{
  /* sete background color to smoke white */
  background-color: whitesmoke;
}
/* set row to left side */
.row{
display: flex;
justify-content: left;
margin: 50px 0;
color: black;
}

.col-1{
flex-basis: 40%;
position:relative;
margin-left: 200px;
margin-top: 150px;
}

.col-1 h2{
font-size: 25px;
}

.col-1 p{
font-size: 15px;
margin-right: 100px;
}

.col-1 h4{
font-size: 20px;
margin: 30px 0;
}
/* set effects to buybuttons */
.buynow{
width: 140px;
border: 0;
padding: 10px 10px;
outline: none;
color: #fff;
background: linear-gradient(to right, rgba(255, 120, 120, 0.823),red);
border-radius: 6px;
cursor: pointer;
transition: width 0.5s;
}

.buynow img{
width: 30px;
display: none;
}

.buynow:hover img{
display: block;
}

.buynow:hover{
width: 160px;
display: flex;
align-items: center;
justify-content: space-between;
}
/* set position image*/
.col-2{
position: relative;
align-items: center;
}
.col-2 .cloth1{
width: 90%;
margin-left: 100px;
}
/* set media sceen */
@media screen and (max-width: 1000px) {
  .row{
    flex-direction: column-reverse;
    margin: 80px 0;
  }
  .col-2{
    flex-basis: 100%;
  }
  .col-2  .cloth1{
    width: 77%;
    margin-left: 100px;
    margin-right: 100px;  
  }
}
